# Ignore system/user folders

.terraform/
AppData/
Contacts/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
VirtualBox VMs/

# Node, Python, etc. (optional)
node_modules/
__pycache__/
.env
*.log


